<div class="margin-footer">

<div class="center-form">

<form action="/auth/signup" method="POST">

   <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelpBlock">
    <div id="passwordHelpBlock" class="form-text">
  Must be 8-20 characters long.
</div>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</div>
<div class="center-form">
<p>Already have an account? <a href="/auth/login"> Log in</a></p>
</div>

   {{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
</div>