<div class="bkg-img">
    <div class="container">
    
<div class="center-forms">
    <select class="form-select" aria-label="Choose your role">
  <option selected>Choose your role...</option>
  <option value="Front-end">Front-end Developer</option>
  <option value="Back-end">Back-end Developer</option>
  <option value="Full-stack">Full-stack Developer</option>
</select>
<input class="form-control" type="text" placeholder="Country/Region" aria-label="default input example">
<form>
  <a href="/offers"><button class="button-5">Search</button></a>
</form>
    </div>
    </div>
</div>
<div class="container">
    <div class="rows-wrapper">
 <div class="row align-items-center">
    <div class="col-4">
      <img class="img-col1" src="/images/Frontend-banner.jpg" />
      <a href="/offers"><button class="btn-banner">Latest Front-end Jobs</button></a>
    </div>
    <div class="col-4">
      <img class="img-col2" src="images/Backend-banner.jpg" />
      <a href="/offersb"><button class="btn-banner">Latest Back-end Jobs</button></a>
    </div>
    <div class="col-4">
      <img class="img-col3" src="/images/Fullstack-banner.jpg" />
      <a href="/offersf"><button class="btn-banner">Latest Full-stack Jobs</button></a>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-4">
      <img class="img-col1" src="/images/frontend-comp.jpg" />
      <a href="/companies"><button class="btn-banner">Top Front-end Companies</button></a>
    </div>
    <div class="col-4">
      <img class="img-col2" src="images/backend-comp.jpg" />
      <a href="/companiesb"><button class="btn-banner">Top Back-end Companies</button></a>
    </div>
    <div class="col-4">
      <img class="img-col3" src="/images/fullstack-comp.jpg" />
      <a href="/companiesf"><button class="btn-banner">Top Full-stack Companies</button></a>
    </div>
  </div>
  </div>
  </div>

