<div class="bkg-img">
    <div class="container">
    
<div class="center-forms">
    <select class="form-select" aria-label="Choose your role">
  <option selected>Choose your role...</option>
  <option value="Front-end">Front-end Developer</option>
  <option value="Back-end">Back-end Developer</option>
  <option value="Full-stack">Full-stack Developer</option>
</select>
<input class="form-control" type="text" placeholder="Country/Region" aria-label="default input example">
    </div>
    </div>
</div>
<div class="container">
 <div class="row align-items-center">
    <div class="col-4">
      <img class="img-col1" src="https://www.heliossolutions.co/blog/wp-content/uploads/2016/09/Front-End-Development-Frameworks-for-Faster-Web-Development.jpg" />
      <h4>Latest Front-end jobs</h4>
    </div>
    <div class="col-4">
      <img class="img-col2" src="https://semidotinfotech.com/blog/wp-content/uploads/2020/06/Why-are-people-still-preferring-PHP-websites-in-2020.png" />
      <h4>Latest Back-end jobs</h4>
    </div>
    <div class="col-4">
      <img class="img-col3" src="https://plopdo.com/wp-content/uploads/2021/09/Main-image.jpg" />
      <h4>Latest Full-stack jobs</h4>
    </div>
  </div>
  </div>

