body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navbar-nav{
  margin-right: 250px;
}


/* Index ------------------------------- */
.bkg-img{
  background-image: url(/images/HeroJobs.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  filter:grayscale(1);
}

.center-forms{
  display: flex;
  justify-content: center;
  
}
.form-select, .form-control{
  width: fit-content;
  position: relative;
  display: inline-flex;
  margin-top: 0px;
  
}

.form-select{
  margin-right: 20px;
}

.btn-login{
  border: solid;
  border-width: 2px;
  border-color: #00b7ff;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
  transition: 0.3s all ease-in-out;
}

.btn-login:hover{
  background-color: #00b7ff;
  border: solid;
  border-width: 2px;
  border-color: #00b7ff;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
  color: white;
}

.btn-signup{
  background-color: #00b7ff;
  padding: 5px 20px;
  border-width: 2px;
  border-color: #00b7ff;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  transition: 0.3s all ease-in-out;

}

.btn-signup:hover{
  background-color:rgba(255, 255, 255, 0) ;
  padding: 5px 20px;
  border-width: 2px;
  border-color: #00b7ff;
  margin-bottom: 10px;
  border-radius: 5px;
  color:black;
}

.img-col1, .img-col2, .img-col3{
  width: 300px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}


/* Offers ---------------------------------- */
.offer-container{
  margin-top: 40px;
}


.btn-apply{
  background-color: #00b7ff;
  padding: 5px 20px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}

.btn-save{
  background-color:green;
  padding: 5px 20px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}

/* Signup ----------------------------------------- */
.center-form{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile ------------------------------------------ */
.action-btns{
  display: inline-flex;
  margin-top: 30px;
}

/* Footer -------------------------------------- */

footer{
  margin-top: 100px;
  background-color: #1d3557;
  color: white;
}
.adz-mini{
  width: 50px;
}

.footer-col1, .footer-col2, .footer-col3{
  margin-top: 20px;
}
.fa-heart{
  color: red;
}



/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 10px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}



/* CSS */
.button-4 {
  appearance: none;
  background-color: #252525;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-right:10px
}

.button-4:hover {
  background-color: #6d6d6d;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #ffffff;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/* CSS */
.button-5 {
  appearance: none;
  background-color: #e63946;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-5:hover {
  background-color: #e26670;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-5:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-5:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-5:focus {
  outline: 1px transparent;
}

.button-5:before {
  display: none;
}

.button-5:-webkit-details-marker {
  display: none;
}