body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.btn-primary{
  margin-left:450px;
}

/* Index ------------------------------- */
.bkg-img{
  background-image: url(/images/HeroJobs.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  filter:grayscale(1);
}

.center-forms{
  display: flex;
  justify-content: center;
  
}
.form-select, .form-control{
  width: fit-content;
  position: relative;
  display: inline-flex;
  margin-top: 0px;
  
}

.form-select{
  margin-right: 20px;
}

.btn-login{
  border: solid;
  border-width: 2px;
  border-color: #00b7ff;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
  transition: 0.3s all ease-in-out;
}

.btn-login:hover{
  background-color: #00b7ff;
  border: solid;
  border-width: 2px;
  border-color: #00b7ff;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
  color: white;
}

.btn-signup{
  background-color: #00b7ff;
  padding: 5px 20px;
  border-width: 2px;
  border-color: #00b7ff;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  transition: 0.3s all ease-in-out;

}

.btn-signup:hover{
  background-color:rgba(255, 255, 255, 0) ;
  padding: 5px 20px;
  border-width: 2px;
  border-color: #00b7ff;
  margin-bottom: 10px;
  border-radius: 5px;
  color:black;
}

.img-col1, .img-col2, .img-col3{
  width: 300px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}


/* Offers ---------------------------------- */
.offer-container{
  margin-top: 40px;
}


.btn-apply{
  background-color: #00b7ff;
  padding: 5px 20px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}

.btn-save{
  background-color:green;
  padding: 5px 20px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}

/* Signup ----------------------------------------- */
.center-form{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile ------------------------------------------ */
.btn-delete{
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 3px 8px;
}

/* Footer -------------------------------------- */

footer{
  margin-top: 100px;
  background-color: cadetblue;
}
.adz-mini{
  width: 50px;
}

.footer-col1, .footer-col2, .footer-col3{
  margin-top: 20px;
}
.fa-heart{
  color: red;
}