body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.btn-primary{
  margin-left:450px;
}

/* Index ------------------------------- */
.bkg-img{
  background-image: url(/images/HeroJobs.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  filter:grayscale(1);
}
.form-select, .form-control{
  width: fit-content;
}



/* Offers ---------------------------------- */
.btn-apply{
  background-color: #00b7ff;
  padding: 5px 20px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-save{
  background-color:green;
  padding: 5px 20px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}


/* Footer -------------------------------------- */

footer{
  margin-top: 100px;
  background-color: cadetblue;
}
.adz-mini{
  width: 50px;
}

.footer-col1, .footer-col2, .footer-col3{
  margin-top: 20px;
}
.fa-heart{
  color: red;
}