<h2>Hey,{{user.username}} welcome to your profile</h2>
<a href="/"><button class="btn-rturn-home">Search Jobs</button></a>
<a href="/logout"><button class="btn-logout">Log out! </button></a>
{{!-- power off font awesome icon --}}
<a href="/"><button class="btn-dlt-accnt">Delete account </button></a>
{{!-- Dustbin font awesome icon --}}
<h3>Your saved Job Offers:</h3>

